services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow
    working_dir: /mlflow
    environment:
      # AWS credentials pour S3
     
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5001
      --backend-store-uri sqlite:///mlflow.db
      --artifacts-destination /mlflow/artifacts
    ports:
      - "5001:5001"
    volumes:
      - mlflowdata:/mlflow
  zenml-db:
    image: mysql:8.0
    container_name: zenml-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: zenmlroot
      MYSQL_DATABASE: zenml
      MYSQL_USER: zenml
      MYSQL_PASSWORD: zenmlpass
    volumes:
      - zenmlmysqldata:/var/lib/mysql

  zenml-server:
    image: zenmldocker/zenml-server:latest
    container_name: zenml-server
    restart: unless-stopped
    depends_on:
      - zenml-db
    ports:
      - "8080:8080"
    environment:
     
      
volumes:
  mlflowdata: {}
  zenmlmysqldata: {}
